body {
    font-family: 'Roboto', sans-serif;
    background: beige;
}



.menu .nav-item {
    text-transform: uppercase;
    margin-left: 50px;
    font-size: 20px;
}

.menu {
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0px 0px 10px 3px grey;
}



.info {
    background: whitesmoke url(images/1c.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: calc(91vh - 50px);
    box-shadow: 0px 0px 10px 3px grey;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 5%;
}

.info h3 {
    font-size: 45px;
    color: white;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1;
    letter-spacing: 25px;
}




.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    font-size: 40px;
    color: black;
    text-transform: uppercase;
}





.card {
    border: none;
    font-size: 18x;
    box-shadow: 0px 0px 10px 3px grey;
}

.card-title {
    font-size: 25px;
}

.card {
    margin-bottom: 40%;
}




.console {
    background: whitesmoke url(images/c1.jpg) no-repeat center center;
    background-size: cover;
    
    height: calc(45vh - 50px);

    box-shadow: 0px 0px 10px 3px grey;


    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    margin-bottom: 8%;
    color: white;

    font-size: 25px;
}

.console a {
    border: 1px solid white;
    background: white;
    border-radius: 20%;
    opacity: 0.4;
    font-size: 50px;
    color: green;
}



.company{
    margin-bottom: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    
    background: beige;
    border-radius: 100%;
    box-shadow: 0px 0px 10px 3px grey;  
}


.company1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8%;
   
}

.comn img{
    margin-bottom: 10%;   
    border: none;
    background-color: beige;
    opacity: 0.9;
    border-radius: 5%; 
    box-shadow: 0px 0px 10px 3px grey;  
}

.comn p{
    color: black;  
}



.contact{  
    background: whitesmoke url(images/14.png) no-repeat center center;
    background-size: cover;
    color: white;
    text-transform: uppercase;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px grey; 
}

.form-control{
    background-color: wheat;
}

.send{
    background-color: orange;
    width: 30%;   
    font-size: 20px;
}



